/* PC */
@media screen and (min-width: 992px) {
    /* ------------------------------------------ Hero ------------------------------------------*/

    /* ------------------------------------------ Clients ------------------------------------------*/

    /* ------------------------------------------ Service ------------------------------------------*/
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .btn-menu {
        order: 3;
        display: inline-block;
        content: "";
        width: 32px;
        height: 32px;
        border: 1px solid #dbd4fc;
        border-radius: 50%;
        background-image: url(../icons/menu-icon.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }

    #menu-show:checked ~ .header-nav {
        visibility: visible;
        scale: 1;
        opacity: 1;
    }

    #menu-show:checked ~ .btn-menu {
        background-image: url(../icons/close-icon.svg);
    }

    .header-nav {
        position: absolute;
        top: 45px;
        right: 0;
        order: 3;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        scale: 0;
        transform-origin: 90% top;
        opacity: 0;
    }

    .header-nav-list {
        position: relative;
        width: 200px;
        display: flex;
        row-gap: 0;
        flex-direction: column;
        border: 2px solid #dbd4fc;
        background-color: #fff;
        border-radius: 4px;
    }

    .header-nav-list::before {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        transform: translate(-65%, -60%) rotate(45deg);
        border-top: 2px solid #dbd4fc;
        border-left: 2px solid #dbd4fc;
        background-color: #fff;
    }

    .header-nav-list__item:not(:last-of-type) {
        border-bottom: 1px solid #dbd4fc;
    }

    .header-nav-list__item a {
        display: block;
    }

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients__heading {
        /* width: calc(169 / 336 * 100%); */
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: #080415;
        /* font-size: 2.8rem; */
        font-style: normal;
        font-weight: 500;
        line-height: 1.21429;
        letter-spacing: -0.112rem;
    }

    .clients-list {
        flex-direction: column;
        align-items: center;
    }
    /* ------------------------------------------ Service ------------------------------------------*/
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .mail-contact__link {
        font-size: 1.6rem;
    }
    .header-nav-list__item a {
        font-size: 1.6rem;
    }
    /* .logo {
        scale: 0.6;
    } */
    .header-nav,
    .footer-nav {
        top: 52px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients-list {
        flex-wrap: wrap;
        row-gap: 36px;
    }
    .clients-list-column {
        column-gap: 36px;
    }
    /* ------------------------------------------ Service ------------------------------------------*/
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    /* Common */
    .desc {
        font-size: 1.6rem;
        line-height: 1.625; /* 162.5% */
    }

    .heading-1 {
        line-height: 1.2; /* 119.048% */
        letter-spacing: -0.168rem;
    }

    .heading-2 {
        line-height: 1.1667; /* 116.667% */
        letter-spacing: -0.144rem;
    }

    .btn {
        font-size: 16px;
    }
    /* ------------------------------------------ Header ------------------------------------------*/
    .header {
        top: -4px;
        padding-top: 26px;
        padding-bottom: 22px;
    }

    .header::after {
        position: absolute;
        left: 7px;
        right: 7px;
        bottom: 0;
        display: block;
        content: "";
        height: 1px;
        background-color: #d6d3e2;
    }

    .mail-contact {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }

    .mail-contact__wrap {
        width: 32px;
        height: 32px;
    }

    .mail-contact__link {
        display: none;
    }

    .logo-wrap {
        top: -6px;
        left: 20px;
        padding: 0;
    }

    .logo {
        width: 37px;
        height: 44px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/
    .hero {
        padding-top: 50px;
    }

    .hero__inner {
        flex-direction: column-reverse;
        width: calc(100% - 40px);
        margin: 0 auto;
        overflow: hidden;
    }

    .hero-content {
        width: 100%;
        align-self: flex-start;
    }

    .hero-content__heading {
        width: calc(260 / 390 * 100%);
    }

    .hero-action {
        margin-top: 30px;
        column-gap: 40px;
    }

    .hero-social {
        margin-top: 30px;
        padding-bottom: 0;
    }

    .hero-media {
        margin-top: 26px;
        align-self: center;
        width: calc(260 / 390 * 100%);
        /* overflow: hidden; */
    }

    .hero-media__bg {
        width: 220%;
        top: calc(-60 / 390 * 100%);
        left: calc(-220 / 390 * 100%);
        /* bottom: -85px; */
        /* bottom: calc(-85 / 390 * 100%); */
    }

    .hero__decorate {
        display: none;
    }

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients {
        margin-top: 70px;
    }
    .clients__inner {
        flex-direction: column;
        width: calc(100% - 54px);
        margin-left: auto;
        margin-right: auto;
    }

    .clients__heading {
        width: calc(169 / 336 * 100%);
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: #080415;
        /* font-size: 2.8rem; */
        font-style: normal;
        font-weight: 500;
        line-height: 1.21429;
        letter-spacing: -0.112rem;
    }

    .clients__heading::before {
        width: 48px;
    }

    .clients-list {
        margin-top: 40px;
        row-gap: 30px;
    }

    .clients-list-column {
        row-gap: 34px;
    }

    .clients-brand__bg {
    }

    /* ------------------------------------------ Service ------------------------------------------*/
    .service {
        margin-top: 20px;
    }

    .service-content,
    .service-wrap {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .service-item {
        padding: 29px 50px;
    }

    .service-item__bg {
        width: 62px;
        height: 62px;
    }

    .service-item__heading {
        margin-top: 30px;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.28571; /* 128.571% */
        letter-spacing: -0.112rem;
    }

    .service-item__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.75; /* 175% */
    }
    .service-wrap {
        overflow: hidden;
    }

    .service-list {
        margin-top: 50px;
        flex-wrap: nowrap;
    }

    .service-dots-action {
        margin-top: 30px;
        display: flex;
    }
}
