/* PC */
@media screen and (min-width: 992px) {
    /* ------------------------------------------ Hero ------------------------------------------*/
    .hero-content {
        /* margin-top: 137px;
        margin-top: 27.4%; */
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .btn-menu {
        order: 3;
        display: inline-block;
        content: "";
        width: 32px;
        height: 32px;
        border: 1px solid #dbd4fc;
        border-radius: 50%;
        background-image: url(../icons/menu-icon.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }

    #menu-show:checked ~ .header-nav {
        visibility: visible;
        scale: 1;
        opacity: 1;
    }

    #menu-show:checked ~ .btn-menu {
        background-image: url(../icons/close-icon.svg);
    }

    .header-nav {
        position: absolute;
        top: 45px;
        right: 0;
        order: 3;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        scale: 0;
        transform-origin: 90% top;
        opacity: 0;
    }

    .header-nav-list {
        position: relative;
        width: 200px;
        display: flex;
        row-gap: 0;
        flex-direction: column;
        border: 2px solid #dbd4fc;
        background-color: #fff;
        border-radius: 4px;
    }

    .header-nav-list::before {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        transform: translate(-65%, -60%) rotate(45deg);
        border-top: 2px solid #dbd4fc;
        border-left: 2px solid #dbd4fc;
        background-color: #fff;
    }

    .header-nav-list__item:not(:last-of-type) {
        border-bottom: 1px solid #dbd4fc;
    }

    .header-nav-list__item a {
        display: block;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .mail-contact__link {
        font-size: 1.6rem;
    }
    .header-nav-list__item a {
        font-size: 1.6rem;
    }
    /* .logo {
        scale: 0.6;
    } */
    .header-nav,
    .footer-nav {
        top: 52px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/
    .hero__decorate {
        /* right: 0; */
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    /* Common */
    .desc {
        line-height: 1.625; /* 162.5% */
    }

    .heading-1 {
        line-height: 1.2; /* 119.048% */
        letter-spacing: -0.168rem;
    }

    .heading-2 {
        line-height: 1.1667; /* 116.667% */
        letter-spacing: -0.144rem;
    }

    .btn {
        font-size: 16px;
    }
    /* ------------------------------------------ Header ------------------------------------------*/
    .header {
        top: -4px;
        padding-top: 26px;
        padding-bottom: 22px;
    }

    .header::after {
        position: absolute;
        left: 7px;
        right: 7px;
        bottom: 0;
        display: block;
        content: "";
        height: 1px;
        background-color: #d6d3e2;
    }

    .mail-contact {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }

    .mail-contact__wrap {
        width: 32px;
        height: 32px;
    }

    .mail-contact__link {
        display: none;
    }

    .logo-wrap {
        top: -6px;
        left: 20px;
        padding: 0;
    }

    .logo {
        width: 37px;
        height: 44px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/
    .hero {
        padding-top: 50px;
    }

    .hero__inner {
        flex-direction: column-reverse;
        width: calc(100% - 40px);
        margin: 0 auto;
        overflow: hidden;
    }

    .hero-content {
        width: 100%;
        align-self: flex-start;
    }

    .hero-content__heading {
        width: calc(260 / 390 * 100%);
    }

    .hero-action {
        margin-top: 30px;
        column-gap: 40px;
    }

    .hero-social {
        margin-top: 30px;
        padding-bottom: 0;
    }

    .hero-media {
        margin-top: 26px;
        align-self: center;
        width: calc(260 / 390 * 100%);
        /* overflow: hidden; */
    }

    .hero-media__bg {
        width: 220%;
        left: -160px;
        bottom: -85px;
    }
}
