/* PC */
@media screen and (min-width: 992px) {
    /* ------------------------------------------ Hero ------------------------------------------*/

    /* ------------------------------------------ Clients ------------------------------------------*/

    /* ------------------------------------------ Service ------------------------------------------*/
    /* ------------------------------------------ Testimonal ------------------------------------------*/

    /* ------------------------------------------ Faq ------------------------------------------*/

    /* ------------------------------------------ Gallery ------------------------------------------*/
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .btn-menu {
        order: 3;
        display: inline-block;
        content: "";
        width: 32px;
        height: 32px;
        border: 1px solid #dbd4fc;
        border-radius: 50%;
        background-image: url(../icons/menu-icon.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }

    #menu-show:checked ~ .header-nav {
        visibility: visible;
        scale: 1;
        opacity: 1;
    }

    #menu-show:checked ~ .btn-menu {
        background-image: url(../icons/close-icon.svg);
    }

    .header-nav {
        position: absolute;
        top: 45px;
        right: 0;
        order: 3;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        scale: 0;
        transform-origin: 90% top;
        opacity: 0;
    }

    .header-nav-list {
        position: relative;
        width: 200px;
        display: flex;
        row-gap: 0;
        flex-direction: column;
        border: 2px solid #dbd4fc;
        background-color: #fff;
        border-radius: 4px;
    }

    .header-nav-list::before {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        transform: translate(-65%, -60%) rotate(45deg);
        border-top: 2px solid #dbd4fc;
        border-left: 2px solid #dbd4fc;
        background-color: #fff;
    }

    .header-nav-list__item:not(:last-of-type) {
        border-bottom: 1px solid #dbd4fc;
    }

    .header-nav-list__item a {
        display: block;
    }

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients__heading {
        /* width: calc(169 / 336 * 100%); */
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: #080415;
        /* font-size: 2.8rem; */
        font-style: normal;
        font-weight: 500;
        line-height: 1.21429;
        letter-spacing: -0.112rem;
    }

    .clients-list {
        flex-direction: column;
        align-items: center;
    }
    /* ------------------------------------------ Service ------------------------------------------*/
    /* ------------------------------------------ Testimonal ------------------------------------------*/
    /* ------------------------------------------ Faq ------------------------------------------*/
    /* ------------------------------------------ Gallery ------------------------------------------*/
    /* ------------------------------------------ Cta ------------------------------------------*/
    .cta__deco-right,
    .cta__deco-left {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ------------------------------------------ Header ------------------------------------------*/
    .mail-contact__link {
        font-size: 1.6rem;
    }
    .header-nav-list__item a {
        font-size: 1.6rem;
    }
    /* .logo {
        scale: 0.6;
    } */
    .header-nav,
    .footer-nav {
        top: 52px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients-list {
        flex-wrap: wrap;
        row-gap: 36px;
    }
    .clients-list-column {
        column-gap: 36px;
    }
    /* ------------------------------------------ Service ------------------------------------------*/
    /* ------------------------------------------ About me ------------------------------------------*/
    .about-me-title__icon {
        width: 22px;
        height: 22px;
    }
    .about-me-intro {
        padding: 30px 30px;
    }
    /* ------------------------------------------ Testimonal ------------------------------------------*/
    /* ------------------------------------------ Faq ------------------------------------------*/
    /* ------------------------------------------ Gallery ------------------------------------------*/
    /* ------------------------------------------ Cta ------------------------------------------*/
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    /* Common */
    .desc {
        font-size: 1.6rem;
        line-height: 1.625; /* 162.5% */
    }

    .heading-1 {
        line-height: 1.2; /* 119.048% */
        letter-spacing: -0.168rem;
    }

    .heading-2 {
        line-height: 1.1667; /* 116.667% */
        letter-spacing: -0.144rem;
    }

    .btn {
        font-size: 16px;
    }

    .dots-action {
        padding-bottom: 0;
    }
    /* ------------------------------------------ Header ------------------------------------------*/
    .header {
        top: -4px;
        padding-top: 26px;
        padding-bottom: 22px;
    }

    .header::after {
        position: absolute;
        left: 7px;
        right: 7px;
        bottom: 0;
        display: block;
        content: "";
        height: 1px;
        background-color: #d6d3e2;
    }

    .mail-contact {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }

    .mail-contact__wrap {
        width: 32px;
        height: 32px;
    }

    .mail-contact__link {
        display: none;
    }

    .logo-wrap {
        top: -6px;
        left: 20px;
        padding: 0;
    }

    .logo {
        width: 37px;
        height: 44px;
    }

    /* ------------------------------------------ Hero ------------------------------------------*/
    .hero {
        padding-top: 50px;
    }

    .hero__inner {
        flex-direction: column-reverse;
        width: calc(100% - 40px);
        margin: 0 auto;
        overflow: hidden;
    }

    .hero-content {
        width: 100%;
        align-self: flex-start;
    }

    .hero-content__desc {
        width: 100%;
    }

    .hero-action {
        margin-top: 30px;
        column-gap: 40px;
    }

    .hero-social {
        margin-top: 30px;
        padding-bottom: 0;
    }

    .hero-media {
        margin-top: 26px;
        align-self: center;
        width: calc(260 / 390 * 100%);
        /* overflow: hidden; */
    }

    .hero-media__bg {
        width: 220%;
        top: calc(-60 / 390 * 100%);
        left: calc(-220 / 390 * 100%);
        /* bottom: -85px; */
        /* bottom: calc(-85 / 390 * 100%); */
    }

    .hero__decorate {
        display: none;
    }

    /* ------------------------------------------ Clients ------------------------------------------*/
    .clients {
        margin-top: 70px;
    }
    .clients__inner {
        flex-direction: column;
        width: calc(100% - 54px);
        margin-left: auto;
        margin-right: auto;
    }

    .clients__heading {
        width: calc(169 / 336 * 100%);
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: #080415;
        /* font-size: 2.8rem; */
        font-style: normal;
        font-weight: 500;
        line-height: 1.21429;
        letter-spacing: -0.112rem;
    }

    .clients__heading::before {
        width: 48px;
    }

    .clients-list {
        width: 100%;
        margin-top: 40px;
        row-gap: 30px;
        align-items: normal;
    }

    .clients-list-column {
        row-gap: 34px;
    }

    /* ------------------------------------------ Service ------------------------------------------*/
    .service {
        margin-top: 20px;
    }

    .service-content,
    .service-wrap {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .service-item {
        padding: 29px 50px;
    }

    .service-item__bg {
        width: 62px;
        height: 62px;
    }

    .service-item__heading {
        margin-top: 30px;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.28571; /* 128.571% */
        letter-spacing: -0.112rem;
    }

    .service-item__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.75; /* 175% */
    }
    .service-wrap {
        overflow: hidden;
    }

    .service-list {
        margin-top: 50px;
        flex-wrap: nowrap;
    }

    .service-dots-action {
        margin-top: 30px;
        display: flex;
    }

    /* ------------------------------------------ Work ------------------------------------------*/
    .work {
        margin-top: 20px;
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .work-content,
    .work-list {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .work-content {
        flex-direction: column;
    }

    .work-content__heading,
    .work-content__desc {
        width: 100%;
        text-align: center;
    }

    .work-content__desc {
        margin-top: 20px;
    }

    .work-list {
        margin-top: 60px;
    }

    .work-item {
        padding: 20px 15px;
        column-gap: 22px;
        background-image: url(../image/work-decorate-mobile.png);
        background-position: 100% center;
        background-size: 75%;
    }

    .work-item__heading {
        font-size: 2.4rem;
        line-height: 1.41667; /* 141.667% */
        letter-spacing: -0.096rem;
    }

    .work-item__desc {
        margin-top: 4px;
        font-size: 14px;
        line-height: 1.4285; /* 142.857% */
    }

    .work-item__link {
        margin-top: 4px;
        font-size: 1.6rem;
        line-height: 1.75; /* 175% */
    }

    .work-item__bg {
        width: calc(122 / 320 * 100%);
        padding-top: calc(93 / 320 * 100%);
    }

    .work__btn {
        margin-top: 50px;
        font-size: 1.6rem;
    }

    /* ------------------------------------------ About me ------------------------------------------*/
    .about-me {
        margin-top: 70px;
    }

    .about-me-media-layout,
    .about-me-content,
    .about-me-intro {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-title__text {
        line-height: 2; /* 200% */
        letter-spacing: -0.08rem;
    }

    .about-me-title__icon {
        width: 18px;
        height: 18px;
    }

    .about-me_heading {
        text-align: center;
    }

    .about-me__desc {
        margin-top: 20px;
        width: 100%;
    }

    .about-me-intro {
        margin-top: 50px;
        padding: 30px 16px;
        column-gap: 20px;
    }

    .about-me-item__num {
        line-height: 1.4; /* 140% */
        letter-spacing: 0.09rem;
    }

    .about-me-item__text {
        margin-top: 5px;
        font-size: 1.6rem;
        line-height: 1.375; /* 137.5% */
    }

    .about-me-item:nth-of-type(1) {
        order: 2;
    }

    .about-me-item:nth-of-type(2) {
        order: 1;
    }

    .about-me-item:nth-of-type(3) {
        order: 3;
    }

    .about-me-media-layout {
        margin-top: 40px;
        padding-bottom: calc(276 / 350 * calc(100% - 40px) / 2);
    }

    .about-me-media {
        padding-top: calc(276 / 350 * 100%);
        z-index: 1;
    }

    .about-me-media__intro {
        width: 118px;
        height: 44px;
        font-size: 1.2rem;
        line-height: 2.5;
    }

    .about-me-media__button {
        width: calc(77 / 350 * 100%);
        height: calc(77 / 276 * 100%);
        background-size: 15%;
    }

    /* ------------------------------------------ Testimonal ------------------------------------------*/
    .testimonal {
        position: relative;
    }
    .testimonal__inner {
        padding-bottom: 67px;
        position: static;
    }
    .testimonal-content,
    .testimonal-body {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .testimonal-content {
        padding-top: calc(235 / 350 * calc(100% - 40px));
    }

    .testimonal-body {
        margin-top: 40px;
    }

    .testimonal-user__quote {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.667; /* 166.667% */
    }

    .testimonal-user-intro {
        margin-top: 48px;
    }

    .testimonal-user-intro__name {
        font-size: 2.4rem;
    }

    .dots-action {
        margin-top: 20px;
    }

    .testimonal-deco-left,
    .testimonal-deco-right {
        transform: scale(0.3);
    }

    .testimonal-deco-left {
        translate: -35% 35%;
    }

    .testimonal-deco-right {
        translate: 35% 35%;
    }

    /* ------------------------------------------ Faq ------------------------------------------*/
    .faq {
        margin-top: 70px;
    }

    .faq__heading {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .faq-list {
        width: calc(100% - 20px);
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    .faq-item {
        padding: 40px 10px 0 10px;
    }

    .faq-item__icon {
        flex-shrink: 0;
        align-self: flex-start;
        width: 33px;
        height: 33px;
    }

    .faq-item-content__question {
        margin-bottom: 15px;
        font-size: 2.4rem;
        line-height: 1.25; /* 125% */
        letter-spacing: -0.096rem;
    }

    .faq-item-content__answer {
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.625; /* 162.5% */
    }

    .faq-item__check:checked ~ .faq-item-content > .faq-item-content__answer {
        margin-bottom: 15px;
    }

    /* ------------------------------------------ Gallery ------------------------------------------*/
    .gallery {
        margin-top: 20px;
    }

    .gallery-content,
    .gallery-wrap {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-content__desc {
        width: 100%;
    }

    .gallery-content__title {
        margin-top: 10px;
    }

    .gallery-wrap {
        margin-top: 60px;
        overflow: hidden;
    }

    .gallery-list {
        flex-wrap: nowrap;
        transition: 0.2s;
        transform: translateX(-100%);
    }

    .gallery-dots-action {
        margin-top: 40px;
        display: flex;
    }
    /* ------------------------------------------ Cta ------------------------------------------*/
    .cta {
        margin-top: 70px;
    }

    .cta-container {
        width: 100%;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .cta__inner {
        width: calc(100% - 44px);
    }

    .cta__img {
        width: 48px;
        height: 48px;
    }

    .cta__heading,
    .cta__desc {
        margin-top: 10px;
    }

    .cta__btn {
        margin-top: 30px;
        font-size: 1.6rem;
    }

    .cta__deco-center {
        transform: translateX(-50%);
    }

    /* ------------------------------------------ Footer ------------------------------------------*/
    .footer {
        margin-top: 120px;
        padding-top: 68px;
        background-color: #fff;
    }

    .footer-container {
        width: 100%;
        max-width: 100%;
    }

    .footer-menu {
        flex-direction: column;
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 58px;
    }

    .footer .logo-wrap {
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .footer-nav {
        width: 100%;
    }

    .footer-nav-list {
        width: calc(100% + 44px);
        /* width: 100%; */
        justify-content: space-between;
        margin-left: -22px;
        margin-right: -22px;
    }

    footer .mail-contact {
        margin-top: 58px;
        margin-left: auto;
        margin-right: auto;
    }

    footer .mail-contact__link {
        display: inline-block;
    }

    .footer-line,
    .footer-bottom {
        display: none;
    }

    .footer-bottom-mobile {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-bottom-mobile-top {
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-bottom-mobile__line {
        margin-top: 30px;
    }

    .footer-bottom-mobile__copyright{
        width: calc(100% - 52px);
        text-align: center;
        margin: 20px auto 0;
        padding-bottom: 30px;
    }
}
