*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    height: 8000px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

/* Common */
.heading-1 {
    color: #080415;
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.heading-2 {
    color: #080415;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.117857;
    letter-spacing: -0.224rem;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    padding: 16px 36px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    background: #5d3bee;
    cursor: pointer;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/* ------------------------------------------ Header ------------------------------------------*/
.header {
    padding-top: 47px;
    padding-bottom: 27px;
    position: sticky;
    top: -20px;
    background-color: #fbfaff;
    z-index: 99;
}

.header-container {
    width: 1330px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail-contact__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #dbd4fc;
    border-radius: 50%;
}

.mail-contact__icon {
    width: 24px;
    height: 16px;
}

.mail-contact__link {
    color: #080415;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.36364; /* 136.364% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.logo-wrap {
    padding: 16px 23px;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 54px;
    height: 66px;
}

.btn-menu {
    display: none;
}

.header-nav-list {
    display: flex;
    row-gap: 10px;
}

.header-nav-list__item a {
    padding: 18px 22px;
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.header-nav-list__item:hover a {
    text-shadow: 0.5px 0 #51586a, -0.5px 0 #51586a;
    text-decoration: underline;
}

/* ------------------------------------------ Hero ------------------------------------------*/
.hero {
    padding-top: 44px;
    background-color: #fbfaff;
    /* background-color: #5d3bee; */
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-media {
    flex-shrink: 0;
    position: relative;
    width: 44%;
    /* height: 705px; */
}

.hero-media__img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.hero-media__bg {
    position: absolute;
    bottom: 0;
    right: -165px;
    /* object-fit: cover; */
}

.hero-content {
    width: 43%;
    /* margin-left: auto; */
}

.hero-content__heading {
    width: 100%;
}

.hero-content__desc {
    margin-top: 20px;
    width: 74%;
}

.hero-action {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero-action__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.hero-social {
    margin-top: 104px;
}

.hero-social__text {
    color: #51586a;
    font-weight: 500;
    line-height: 1.875; /* 187.5% */
}

.hero-social-list {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.hero-social__warp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #e3e1e8;
}

.hero-social__warp:hover {
    border: 1px solid #080415;
}

.hero__decorate {
    position: absolute;
    bottom: 0;
    right: -160px;
}

/* ------------------------------------------ Clients ------------------------------------------*/
.clients {
    margin-top: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.clients__inner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 105px;
}

.clients__heading {
    display: flex;
    column-gap: 13px;
    width: 28%;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19048; /* 119.048% */
    letter-spacing: -0.168rem;
}

.clients__heading::before {
    margin-top: 26px;
    display: inline-block;
    content: "";
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
}

.clients-list {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.clients-list-column {
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px;
    justify-content: space-between;
}

.clients-brand {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.clients-brand__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.bg-warner {
    background-color: #fbfaff;
}

.bg-upwork {
    background-color: #14a800;
}

.bg-mailchimp {
    background-color: #fee101;
}

.bg-adobe {
    background-color: #ff0000;
}

.bg-woocommerce {
    background-color: #7f54b3;
}

.clients-brand__name {
    font-weight: 600;
}

/* ------------------------------------------ Service ------------------------------------------*/
.service {
    margin-top: 33px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.service-content {
    margin: 0 auto;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__desc {
    margin-top: 20px;
    text-align: center;
}

.service-list {
    margin-top: 60px;
    row-gap: 30px;
}

.service-item {
    height: 100%;
    padding: 33px 43px;
    background-color: #fbfaff;
}

.service-item__bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border: 1px solid #efeef3;
    border-radius: 50%;
}

.service-item__img {
    scale: 50%;
}

.col:nth-of-type(1) .service-item__img {
    filter: drop-shadow(0 7px 20px rgba(247, 222, 136, 0.4));
}

.col:nth-of-type(2) .service-item__img,
.col:nth-of-type(3) .service-item__img {
    filter: drop-shadow(0 10px 20px rgba(24, 64, 88, 0.25));
}

.service-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.service-item__desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

/* ------------------------------------------ Work ------------------------------------------*/
.work {
    margin-top: 90px;
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: #5d3bee;
}

.work-content {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.work-content__heading {
    width: 40%;
    color: #fff;
}

.work-content__desc {
    width: 32%;
    color: #fff;
    opacity: 0.7;
}

.work-list {
    margin-top: 70px;
    row-gap: 30px;
}

.work-item {
    display: flex;
    align-items: center;
    column-gap: 47px;
    height: 100%;
    padding: 24px 23px 23px 34px;
    background: #fbfaff;
    background-image: url(../image/work-decorate.png);
    background-repeat: no-repeat;
    background-position: 152px center;
}

.work-item-content {
    width: 43%;
    flex-shrink: 0;
}

.work-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.work-item__desc {
    margin-top: 10px;
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375;
}

.work-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.work-item__img{
    width: 100%;
    /* height: 187px; */
    object-fit: contain;
}
