*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

/* Common */
.heading-1 {
    color: #080415;
    font-size: clamp(4.2rem, 16.9vw - 8.8rem, 8rem);
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.heading-2 {
    color: #080415;
    font-size: clamp(3.6rem, 8.92vw - 3.25rem, 5.6rem);
    font-style: normal;
    font-weight: 500;
    line-height: 1.117857;
    letter-spacing: -0.224rem;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    padding: 16px 36px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    background: #5d3bee;
    cursor: pointer;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.dots-action {
    margin-top: 40px;
    padding-bottom: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.testimonal-action__check,
.service-action__check {
    display: none;
}
.action__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #cac9d0;
}

.action__dot::after {
    visibility: hidden;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #5d3bee;
}

.testimonal-action__check:checked + .action__dot,
.service-action__check:checked + .action__dot {
    width: 12px;
    height: 12px;
    background-color: #5d3bee;
    margin: 0 2px;
}

.testimonal-action__check:checked + .action__dot::after,
.service-action__check:checked + .action__dot::after {
    visibility: visible;
}
/* ------------------------------------------ Header ------------------------------------------*/
.header {
    padding-top: 47px;
    padding-bottom: 27px;
    position: sticky;
    top: -20px;
    background-color: #fbfaff;
    z-index: 99;
}

.header-container {
    width: min(100% - 40px, 1330px);
    margin-left: auto;
    margin-right: auto;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail-contact__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #dbd4fc;
    border-radius: 50%;
}

.mail-contact__icon {
    width: 24px;
    height: 16px;
}

.mail-contact__link {
    color: #080415;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.36364; /* 136.364% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.logo-wrap {
    padding: 16px 23px;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 54px;
    height: 66px;
}

.btn-menu {
    display: none;
}

.header-nav-list,
.footer-nav-list {
    display: flex;
    row-gap: 10px;
}

.header-nav-list__item a,
.footer-nav-list__item a {
    padding: 18px 22px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

.header-nav-list__item:hover a,
.footer-nav-list__item:hover a {
    text-shadow:
        0.5px 0 #51586a,
        -0.5px 0 #51586a;
    text-decoration: underline;
}

/* ------------------------------------------ Hero ------------------------------------------*/
.hero {
    padding-top: 44px;
    background-color: #fbfaff;
    /* background-color: #5d3bee; */
}

.hero__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero-media {
    align-self: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 44%;
}

.hero-media__img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.hero-media__bg {
    position: absolute;
    width: 174%;
    bottom: 0;
    right: -165px;
    right: calc(-100% * (165 / 514));
    object-fit: cover;
}

.hero-content {
    width: 43%;
    align-self: flex-end;
}

.hero-content__heading {
    width: 100%;
}

.hero-content__desc {
    margin-top: 20px;
    width: 74%;
}

.hero-action {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero-action__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.hero-social {
    position: relative;
    margin-top: 20.8%;
    padding-bottom: 8.6%;
    z-index: 1;
}

.hero-social__text {
    color: #51586a;
    font-weight: 500;
    line-height: 1.875; /* 187.5% */
}

.hero-social-list {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.hero-social__warp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #e3e1e8;
}

.hero-social__warp:hover {
    border: 1px solid #080415;
}

.hero__decorate {
    width: calc(382 / 1170 * 100%);
    position: absolute;
    bottom: 0;
    right: calc(-100% * (160 / 1170));
}

/* ------------------------------------------ Clients ------------------------------------------*/
.clients {
    margin-top: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.clients__inner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* column-gap: 105px; */
    column-gap: calc(90 / 1170 * 100%);
}

.clients__heading {
    display: flex;
    column-gap: 13px;
    width: calc(356 / 1170 * 100%);
    color: #080415;
    font-size: clamp(2.8rem, 6.25vw - 2rem, 4.2rem);
    font-weight: 500;
    line-height: 1.19048; /* 119.048% */
    letter-spacing: -0.168rem;
}

.clients__heading::before {
    margin-top: 26px;
    display: inline-block;
    content: "";
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
}

.clients-list {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    /* justify-content: space-between; */
    column-gap: 66px;
    row-gap: 36px;
    /* column-gap: calc(66 / 713 * 100%); */
}

.clients-list-column {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 36px;
    justify-content: space-between;
}

.clients-brand {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.clients-brand__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.bg-warner {
    background-color: #fbfaff;
}

.bg-upwork {
    background-color: #14a800;
}

.bg-mailchimp {
    background-color: #fee101;
}

.bg-adobe {
    background-color: #ff0000;
}

.bg-woocommerce {
    background-color: #7f54b3;
}

.clients-brand__name {
    font-weight: 600;
}

/* ------------------------------------------ Service ------------------------------------------*/
.service {
    margin-top: 33px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.service-content {
    margin: 0 auto;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__desc {
    margin-top: 20px;
    text-align: center;
}

.service-list {
    margin-top: 60px;
    row-gap: 30px;
    transition: 0.2s;
}

.service-item {
    height: 100%;
    padding: 33px 43px;
    background-color: #fbfaff;
}

.service-item__bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border: 1px solid #efeef3;
    border-radius: 50%;
}

.service-item__img {
    scale: 50%;
}

.col:nth-of-type(1) .service-item__img {
    filter: drop-shadow(0 7px 20px rgba(247, 222, 136, 0.4));
}

.col:nth-of-type(2) .service-item__img,
.col:nth-of-type(3) .service-item__img {
    filter: drop-shadow(0 10px 20px rgba(24, 64, 88, 0.25));
}

.service-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.service-item__desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.service-dots-action {
    display: none;
}

/* ------------------------------------------ Work ------------------------------------------*/
.work {
    margin-top: 90px;
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: #5d3bee;
}

.work-content {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.work-content__heading {
    width: 40%;
    color: #fff;
}

.work-content__desc {
    width: 32%;
    color: #fff;
    opacity: 0.7;
}

.work-list {
    margin-top: 70px;
    row-gap: 30px;
}

.work-item {
    display: flex;
    align-items: center;
    column-gap: 47px;
    height: 100%;
    padding: 24px 23px 23px 34px;
    background: #fbfaff;
    background-image: url(../image/work-decorate.png);
    background-repeat: no-repeat;
    background-position: 152px center;
}

.work-item-content {
    /* width: 43%; */
    flex-grow: 1;
}

.work-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.work-item__desc {
    margin-top: 10px;
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375;
}

.work-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.work-item__bg {
    flex-shrink: 0;
    position: relative;
    width: calc(246 / 513 * 100%);
    padding-top: calc(187 / 513 * 100%);
}

.work-item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.work__btn {
    margin: 80px auto 0;
    color: #080415;
    background-color: #fff;
}

/* ------------------------------------------ Work ------------------------------------------*/
.about-me {
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 375px;
    background-color: #fff;
}

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me-title {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
}

.about-me-title__icon {
    width: 30px;
    height: 30px;
    margin-left: 9px;
}

.about-me_heading {
    margin-top: 10px;
}

.about-me__desc {
    margin-top: 15px;
    width: 49%;
    text-align: center;
}

.about-me-intro {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0px;
    padding: 20px 95px;
    width: 80%;
    border-top: 1px solid #cecdd0;
    border-bottom: 1px solid #cecdd0;
}

.about-me-item {
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.about-me-item__num {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35714; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.about-me-item__text {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.about-me-media-layout {
    position: relative;
}

.about-me-media {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-top: 53.68%;
    background-color: transparent;
}

.about-me-media__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-me-media__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 170px;
    height: 62px;
    background-color: #fff;
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-transform: uppercase;
}

.about-me-media__button {
    width: 111px;
    height: 111px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(../image/play-button.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #fff;
    opacity: 70%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------ Testimonal ------------------------------------------*/
.testimonal {
    padding-top: 473px;
    /* padding-bottom: 74px; */
    background-color: #fbfaff;
}

.testimonal__inner {
    position: relative;
}

.testimonal-content {
    width: 49%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.testimonal-content__desc {
    text-align: center;
}

.testimonal-body {
    width: 58%;
    margin: 60px auto 0;
    overflow: hidden;
}

.testimonal-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: 0.2s;
    transform: translateX(calc(-1 * 2 * 100%));
}

.testimonal-user {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 36px;
}

.testimonal-user__quote {
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.testimonal-user-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3px;
}

.testimonal-user-top {
    display: flex;
    column-gap: 15px;
}

.testimonal-user-intro__avatar-bg {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    border-radius: 50%;
    background-color: #f29764;
    overflow: hidden;
}

.testimonal-user-intro__avatar {
    width: 100%;
    object-fit: cover;
}

.testimonal-user-intro__name {
    color: #080415;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.333; /* 133.333% */
}

.testimonal-user-intro__job {
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8125; /* 181.25% */
}

.testimonal-deco-left {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
}

.testimonal-deco-right {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
}

/* ------------------------------------------ Faq ------------------------------------------*/
.faq {
    margin-top: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.faq__heading {
    width: 49%;
}

.faq-list {
    margin-top: 80px;
    width: 86%;
}

.faq-item {
    width: 100%;
    padding: 22px 0 22px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 2px solid #08182f;
}

.faq-item-content {
    display: flex;
    row-gap: 22px;
    flex-direction: column;
}

.faq-item-content__question {
    color: #080415;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
    transition: 0.2s;
}

.faq-item-content__answer {
    visibility: hidden;
    opacity: 0;
    height: 0;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
    transition: 0.2s;
}

.faq-item__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d0d1d2;
    background-image: url(../icons/plus-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
    cursor: pointer;
}

.faq-item__check {
    display: none;
}

.faq-item__check:checked + .faq-item__icon {
    background-image: url(../icons/minus-icon.png);
}

.faq-item:has(.faq-item__check:checked) {
    border-color: #5d3bee;
}

.faq-item__check:checked ~ .faq-item-content > .faq-item-content__question {
    color: #5d3bee;
}

.faq-item__check:checked ~ .faq-item-content > .faq-item-content__answer {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

/* ------------------------------------------ Gallery ------------------------------------------*/
.gallery {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.gallery-content__heading {
    text-align: center;
}

.gallery-content__desc {
    margin-top: 20px;
    width: 46%;
    text-align: center;
}

.gallery-content__title {
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.gallery-media {
    margin-top: 70px;
    position: relative;
    width: 100%;
    padding-top: 143%;
}

.gallery-media__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------------------ Cta ------------------------------------------*/
.cta {
    margin-top: 90px;
}

.cta-container {
    position: relative;
    width: 1330px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 68px;
    padding-bottom: 68px;
    background-color: #fbfaff;
}

.cta__inner {
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cta__img {
    width: 90px;
    height: 90px;
}

.cta__heading {
    text-align: center;
    margin-top: 15px;
}

.cta__desc {
    text-align: center;
    margin-top: 20px;
}

.cta__btn {
    margin-top: 40px;
}

.cta__deco-left,
.cta__deco-center,
.cta__deco-right {
    position: absolute;
}

.cta__deco-left {
    left: 0;
    bottom: 0;
}

.cta__deco-center {
    top: 0;
    left: 50%;
    transform: translateX(-54%);
}

.cta__deco-right {
    top: 0;
    right: 0;
}

/* ------------------------------------------ Footer ------------------------------------------*/
.footer {
    margin-top: 50px;
    padding-top: 27px;
    background-color: #fff;
}

.footer-container {
    position: relative;
    width: 1429px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.footer-menu {
    width: calc(100% - 99px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #cecdd2;
}

.footer-bottom-right {
    display: flex;
}

.footer-bottom {
    padding: 18px 147px 30px 129px;
    /* padding-top: 18px;
    padding-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom__copyright,
.footer-bottom-right__policy,
.footer-bottom-right__conditions {
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.footer-bottom-right__policy {
    border-right: 1px solid #979aaa;
}

.footer-bottom-right__policy,
.footer-bottom-right__conditions {
    padding-right: 23px;
    padding-left: 23px;
    letter-spacing: -0.54px;
}

.footer-bottom-right__policy:hover,
.footer-bottom-right__conditions:hover {
    color: #080415;
}
