*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    height: 8000px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

/* Common */
.heading-1 {
    color: #080415;
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.heading-2 {
    color: #080415;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.117857;
    letter-spacing: -0.224rem;
}

.desc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    padding: 16px 36px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    background: #5d3bee;
    cursor: pointer;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/* ------------------------------------------ Header ------------------------------------------*/
.header {
    padding-top: 47px;
    padding-bottom: 27px;
    position: sticky;
    top: -20px;
    background-color: #fbfaff;
    z-index: 99;
}

.header-container {
    width: 1330px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail-contact__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #dbd4fc;
    border-radius: 50%;
}

.mail-contact__icon {
    width: 24px;
    height: 16px;
}

.mail-contact__link {
    color: #080415;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.36364; /* 136.364% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.logo-wrap {
    padding: 16px 23px;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 54px;
    height: 66px;
}

.btn-menu {
    display: none;
}

.header-nav-list {
    display: flex;
    row-gap: 10px;
}

.header-nav-list__item a {
    padding: 18px 22px;
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.header-nav-list__item:hover a {
    text-shadow: 0.5px 0 #51586a, -0.5px 0 #51586a;
    text-decoration: underline;
}

/* ------------------------------------------ Hero ------------------------------------------*/
.hero {
    padding-top: 44px;
    background-color: #fbfaff;
    /* background-color: #5d3bee; */
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-media {
    flex-shrink: 0;
    position: relative;
    width: 44%;
    /* height: 705px; */
}

.hero-media__img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.hero-media__bg {
    position: absolute;
    bottom: 0;
    right: -165px;
    /* object-fit: cover; */
}

.hero-content {
    width: 43%;
    /* margin-left: auto; */
}

.hero-content__heading {
    width: 100%;
}

.hero-content__desc {
    margin-top: 20px;
    width: 74%;
}

.hero-action {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero-action__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.hero-social {
    margin-top: 104px;
}

.hero-social__text {
    color: #51586a;
    font-weight: 500;
    line-height: 1.875; /* 187.5% */
}

.hero-social-list {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.hero-social__warp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #e3e1e8;
}

.hero-social__warp:hover {
    border: 1px solid #080415;
}

.hero__decorate{
    position: absolute;
    bottom: 0;
    right: -160px;
}
